<header class="navbar navbar__section">
  <div class="container">
    <a
      href="/"
      class="navbar-brand d-flex justify-content-start align-items-center gap-2 fw-semibold"
    >
      <img
        src="/emisi/public/images/Logo-Resmi-Unhas-1.png"
        alt="Universitas Hasanuddin"
        width="38"
        height="42"
        class="d-inline-block align-text-center"
      />
      Universitas Hasanuddin
    </a>
  </div>
</header>
