<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/_header') %>
    <title>Page Not Found - 404 Error</title>
    <meta
      name="description"
      content="Sorry, the page you're looking for couldn't be found. Don't worry, our team is on it. In the meantime, explore our other content."
    />

    <link rel="stylesheet" href="/envmon/public/css/404.css" />

  </head>
  <body class="position-relative">
    <!-- Error Page -->
    <div
      class="position-absolute top-50 start-50 translate-middle d-flex flex-column justify-content-center align-items-center text-center"
    >
      <img
        src="/envmon/public/images/illustration.png"
        alt="404 Illustration"
        class="mb-3"
      />
      <div class="text-capitalize">
        <h4 class="fs-1 fw-bold">ooops....</h4>
        <p class="fs-5 fw-semibold mb-5">page not found!</p>
        <a href="/envmon" class="btn fw-bold btn__link" role="button">Go Home</a>
      </div>
    </div>
    <!-- Error Page -->
  </body>
</html>
