<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/_header') %>
    <meta
      name="description"
      content="Discover the academic excellence and vibrant community of Universitas Hasanuddin through Emisi, your gateway to knowledge, innovation, and opportunities."
    />
    <title>Welcome to Emisi - Universitas Hasanuddin</title>
  </head>
  <body></body>
</html>
