<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/_header') %>
    <meta
      name="description"
      content="Discover the academic excellence and vibrant community of Universitas Hasanuddin through Emisi, your gateway to knowledge, innovation, and opportunities."
    />
    <title>Welcome to Emisi - Universitas Hasanuddin</title>

    <link rel="stylesheet" href="/envmon/public/css/index.css" />
  </head>
  <body>
    <div class="container__main">
      <a href="/envmon/tamalanrea" class="main__items">
        <img
          src="/envmon/public/images/bg_rectorate.jpg"
          alt="background rectorate"
        />
        <p class="btn__link">Main Campus</p>
      </a>
      <a href="/envmon/engineering" class="main__items">
        <img
          src="/envmon/public/images/bg_engineering.jpg"
          alt="background Faculty of Engineering"
        />
        <p class="btn__link">Faculty of Engineering</p>
      </a>
      <a href="/envmon" class="container__logo">
        <img
          src="/envmon/public/images/Logo-Resmi-Unhas-1.png"
          alt="logo unhas"
        />
      </a>
    </div>
  </body>
</html>
