<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/_header') %>
    <meta
      name="description"
      content="Discover the academic excellence and vibrant community of Universitas Hasanuddin through Emisi, your gateway to knowledge, innovation, and opportunities."
    />
    <title>Welcome to Emisi - Universitas Hasanuddin</title>

    <link rel="stylesheet" href="/emisi/public/css/index.css" />
  </head>
  <body>
    <%- include('partials/_nav') %>
    <div
      class="container d-flex justify-content-center align-items-center container__main"
    >
      <div class="d-flex flex-column flex-md-row gap-3">
        <a href="/tamalanrea" class="btn btn__link">Tamalanrea</a>
        <a href="/engineering" class="btn btn__link">Engineering</a>
      </div>
    </div>
  </body>
</html>
