<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/_header') %>
    <!-- Title -->
    <title>
      UNHAS Emission Dashboard in Tamalanrea: Environmental Sustainability
      Hasanuddin University
    </title>
    <meta
      name="description"
      content="Explore the UNHAS Emissions Dashboard in Tamalanrea for monitoring environmental emissions, sustainability efforts, and UNHAS's contribution to protecting nature in the Tamalanrea region. Discover real-time data and initiatives that support a better environment at UNHAS."
    />

    <!-- Leaflet -->
    <link
      rel="stylesheet"
      href="/emisi/node_modules/leaflet/dist/leaflet.css"
    />
    <script src="/emisi/node_modules/leaflet/dist/leaflet.js"></script>

    <link rel="stylesheet" href="/emisi/public/css/tamalanrea.css" />
  </head>
  <body class="vh-100 d-flex flex-column">
    <%- include('partials/_nav') %>
    <div class="my-2 px-5 h-100">
      <div class="container__main">
        <div class="mb-3 mb-xl-0">
          <div class="container__average gap-2 h-100">
            <div class="p-2 d-flex justify-content-center align-items-center">
              <h2 class="fw-bold fs-3">Average</h2>
            </div>
            <div class="p-2 card shadow-sm">
              <div
                class="card-body d-flex justify-content-between align-items-center gap-2"
              >
                <div class="d-flex flex-column">
                  <h5 class="card-title fs-4 fw-bold">Carbon Dioxide</h5>
                  <p class="fs-4 fw-semibold mb-0">
                    <span id="averageCo2">0</span> ppm
                  </p>
                </div>
                <span class="material-icons md-64"> co2 </span>
              </div>
            </div>
            <div class="p-2 card shadow-sm">
              <div
                class="card-body d-flex justify-content-between align-items-center"
              >
                <div class="d-flex flex-column">
                  <h5 class="card-title fs-4 fw-bold">Noise</h5>
                  <p class="fs-4 fw-semibold mb-0">
                    <span id="averageNoise">0</span> dBA
                  </p>
                </div>
                <span class="material-icons md-48"> graphic_eq </span>
              </div>
            </div>
            <div class="p-2 card shadow-sm">
              <div
                class="card-body d-flex justify-content-between align-items-center"
              >
                <div class="d-flex flex-column">
                  <h5 class="card-title fs-4 fw-bold">Temperature</h5>
                  <p class="fs-4 fw-semibold mb-0">
                    <span id="averageTemp">0</span>&#176;C
                  </p>
                </div>
                <span class="material-icons md-48">thermostat</span>
              </div>
            </div>
            <div class="p-2 card shadow-sm">
              <div
                class="card-body d-flex justify-content-between align-items-center"
              >
                <div class="d-flex flex-column">
                  <h5 class="card-title fs-4 fw-bold">Humidity</h5>
                  <p class="fs-4 fw-semibold mb-0">
                    <span id="averageHum">0</span>%
                  </p>
                </div>
                <span class="material-icons md-48">opacity</span>
              </div>
            </div>
          </div>
        </div>
        <div class="flex-grow-1">
          <div id="map"></div>
        </div>
      </div>
    </div>

    <script src="/emisi/public/js/tamalanreaMap.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/emisi/public/js/tamalanreaSocket.js"></script>
  </body>
</html>
