body {
  height: 100vh;
  overflow: hidden;
}

img {
  height: 190px;
  width: 240px;
}

p {
  color: #858585;
}

@media screen and (min-width: 768px) {
  img {
    height: 200px;
    width: 340px;
  }
}

@media screen and (min-width: 1024px) {
  img {
    height: 300px;
    width: 440px;
  }
}
