.leaflet-control-attribution {
  display: none;
}

.container__main {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.container__average {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}

.conianer__map {
  position: relative;
  width: 100%;
  aspect-ratio: 5 / 3;
}

#map {
  height: 40vw;
}

.container__node {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container__node h5 {
  font-size: 1rem;
}

.container__sensor {
  width: fit-content;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 4px;
  row-gap: 8px;
  text-wrap: nowrap;
}

.card__sensor {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card__sensor p {
  font-size: 0.75rem;
  text-align: center;
  margin: 0;
}

.card__sensor span {
  font-size: 1.5rem;
  font-weight: 700;
}

@media screen and (min-width: 768px) {
  .container__average {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1024px) {
  .container__main {
    flex-direction: row;
  }
  .container__average {
    grid-template-columns: repeat(1, 1fr);
    margin-right: 1rem;
  }

  #map {
    height: 100%;
  }
}
